@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;

400&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Ubuntu", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Ubuntu", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000000;
  font-size: 16px;
  background: #F8F9FC;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  width: 100%;
}

.form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -15px;
}

.form__column {
  padding: 0px 15px;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 10px;
  border: 1px solid #000;
  height: 41.5px;
}

.input.focus {
  border: 1px solid orange;
}

.input.err {
  border: 1px solid red;
}

textarea.input {
  resize: none;
  padding: 10px 10px;
  height: 100px;
}

.header {
  position: fixed;
  width: 100%;
  height: 66px;
  top: 0;
  left: 0;
  background: #F8F9FC;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  z-index: 100;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin: 0px 0px 0px -15px;
  position: relative;
  z-index: 102;
}

.header__logo img {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__logo img:hover {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 0.6;
}

.header__login {
  position: relative;
  z-index: 103;
}

.header__login a {
  color: #000000;
  line-height: 24px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__login a:hover {
  color: #FF9292;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 104;
}

.menu__list li {
  margin: 0px 30px 0px 30px;
}

.menu__list a {
  color: #13142A;
  line-height: 24px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  display: inline-block;
}

.menu__list a.active {
  color: #FF9292;
}

.menu__list a:hover {
  color: #FF9292;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.main {
  margin: 66px 0px 0px 0px;
}

.news {
  padding: 50px 0px 262px 0px;
}

.news__nav {
  margin: 0px 0px 43px 0px;
}

.news__nav span {
  margin: 0px 22px 0px 0px;
  display: inline-block;
  position: relative;
}

.news__nav span:after {
  content: ">";
  position: absolute;
  top: 0;
  right: -17px;
}

.news__nav span:last-child {
  margin: 0px 0px 0px 0px;
}

.news__nav span:last-child:after {
  content: none;
  right: 0;
}

.news__nav a {
  font-weight: 300;
  font-size: calc(12px + 2 * ((100vw - 320px) / 790));
  line-height: 16px;
  color: #000;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.news__nav a:hover {
  color: #FF9292;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.news__body {
  margin: 0px 0px 76px 0px;
}

.body-news__title {
  font-size: calc(22px + 22 * ((100vw - 320px) / 790));
  text-align: center;
  margin: 0px 0px 57px 0px;
}

.body-news__text {
  max-width: 640px;
  font-weight: 300;
  line-height: 30px;
  font-size: calc(14px + 2 * ((100vw - 320px) / 790));
}

.body-news__text a {
  color: #FF9292;
  position: relative;
  display: inline-block;
}

.body-news__text a:after {
  content: '';
  width: 0;
  position: absolute;
  height: 1px;
  bottom: 0;
  left: 50%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  background: #FF9292;
}

.body-news__text a:hover {
  color: rgba(255, 146, 146, 0.8);
}

.body-news__text a:hover:after {
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  visibility: visible;
  opacity: 1;
  width: 100%;
  left: 0;
}

.body-news__figure {
  position: relative;
  z-index: -1;
}

.body-news__triangle {
  width: 255px;
  height: 255px;
  position: absolute;
  top: -60px;
  right: 0;
}

.body-news__circle {
  height: 55px;
  width: 55px;
  position: absolute;
  top: 50px;
  right: 75px;
  cursor: pointer;
  -webkit-animation: circle 2s linear infinite;
          animation: circle 2s linear infinite;
}

@-webkit-keyframes circle {
  0% {
    top: 50px;
  }

  50% {
    top: 60px;
  }

  100% {
    top: 50px;
  }
}

@keyframes circle {
  0% {
    top: 50px;
  }

  50% {
    top: 60px;
  }

  100% {
    top: 50px;
  }
}

.form-news__body {
  margin: 0 auto;
  width: 540px;
  height: 742px;
  border: 1px solid #000;
  padding: 53px 47px 50px 41px;
}

.form-news__body span {
  font-weight: 300;
  font-size: 27px;
  text-align: center;
  display: inline-block;
  -webkit-transform: translate3d(65%, 0px, 0px);
          transform: translate3d(65%, 0px, 0px);
  margin: 0px 0px 34px 0px;
}

.form-news__row {
  margin: 0px 0px 35px 0px;
}

.form-news__label {
  margin: 0px 0px 15px 0px;
}

.form-news__button {
  margin: 60px 0px 0px 0px;
  background: rgba(255, 146, 146, 0.13);
  border: 1px solid #FF9292;
  width: 240px;
  height: 62px;
  -webkit-transform: translate3d(45%, 0px, 0px);
          transform: translate3d(45%, 0px, 0px);
  padding: 7px 0px 7px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transition: all 2s ease 0s;
  -o-transition: all 2s ease 0s;
  transition: all 2s ease 0s;
}

.form-news__button span {
  margin: 0px 45px 0px 0px;
  display: block;
  width: 47px;
  height: 47px;
  background: #fff;
  border-radius: 50%;
  -webkit-transition: all 2s ease 0s;
  -o-transition: all 2s ease 0s;
  transition: all 2s ease 0s;
  -webkit-animation: circle_btn 3s linear infinite;
          animation: circle_btn 3s linear infinite;
  opacity: 1;
}

@-webkit-keyframes circle_btn {
  0% {
    opacity: 0.5;
  }

  50% {
    opacity: 0.8;
  }

  100% {
    opacity: 0.5;
  }
}

@keyframes circle_btn {
  0% {
    opacity: 0.5;
  }

  50% {
    opacity: 0.8;
  }

  100% {
    opacity: 0.5;
  }
}

.form-news__button:hover {
  -webkit-transition: all 2s ease 0s;
  -o-transition: all 2s ease 0s;
  transition: all 2s ease 0s;
  opacity: 0.8;
}

.form-news__button:hover span {
  -webkit-transition: all 2s ease 0s;
  -o-transition: all 2s ease 0s;
  transition: all 2s ease 0s;
  background: orange;
}

.form-news__figure {
  position: relative;
  z-index: -1;
}

.form-news__triangle {
  position: absolute;
  width: 180px;
  height: 180px;
  top: 120px;
  right: 0;
}

.form-news__circle {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 245px;
  right: 22px;
  -webkit-animation: circle_black 2s linear infinite;
          animation: circle_black 2s linear infinite;
}

@-webkit-keyframes circle_black {
  0% {
    right: 22px;
  }

  50% {
    right: 32px;
  }

  100% {
    right: 22px;
  }
}

@keyframes circle_black {
  0% {
    right: 22px;
  }

  50% {
    right: 32px;
  }

  100% {
    right: 22px;
  }
}

.form-news__photofigure {
  position: relative;
  z-index: -1;
}

.form-news__phototriangle {
  width: 255px;
  height: 255px;
  position: absolute;
  top: -250px;
  left: -60px;
  -webkit-animation: triangle_photo 5s linear infinite;
          animation: triangle_photo 5s linear infinite;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

@-webkit-keyframes triangle_photo {
  0% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }

  50% {
    -webkit-transform: rotate(80deg);
            transform: rotate(80deg);
  }

  100% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

@keyframes triangle_photo {
  0% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }

  50% {
    -webkit-transform: rotate(80deg);
            transform: rotate(80deg);
  }

  100% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

.form-news__photocircle {
  position: absolute;
  width: 102px;
  height: 102px;
  top: -120px;
  left: -20px;
}

.form-news__photocircle img {
  border-radius: 50%;
}

@media (max-width: 1122px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }

  .news {
    padding: 40px 0px 252px 0px;
  }

  .news__nav {
    margin: 0px 0px 33px 0px;
  }

  .news__body {
    margin: 0px 0px 66px 0px;
  }

  .body-news__title {
    margin: 0px 0px 37px 0px;
  }

  .form-news__body {
    padding: 43px 37px 40px 31px;
  }

  .form-news__button {
    margin: 50px 0px 0px 0px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }

  .header {
    height: 60px;
  }

  .header__logo {
    margin: -6px 0px 0px -15px;
  }

  .menu__list li {
    margin: 0px 20px 0px 20px;
  }

  .news {
    padding: 30px 0px 242px 0px;
  }

  .news__nav {
    margin: 0px 0px 23px 0px;
  }

  .news__body {
    margin: 0px 0px 56px 0px;
  }

  .body-news__title {
    margin: 0px 0px 27px 0px;
  }

  .body-news__figure {
    display: none;
  }

  .form-news__body {
    padding: 33px 27px 30px 21px;
    width: 100%;
    height: 100%;
  }

  .form-news__body span {
    -webkit-transform: translate3d(0px, 0px, 0px);
            transform: translate3d(0px, 0px, 0px);
  }

  .form-news__button {
    margin: 40px 0px 0px 0px;
    -webkit-transform: translate3d(0px, 0px, 0px);
            transform: translate3d(0px, 0px, 0px);
    width: 100%;
  }

  .form-news__triangle {
    top: 700px;
    right: 50px;
  }

  .form-news__circle {
    top: 820px;
    right: 65px;
  }

@-webkit-keyframes circle_black {
    0% {
      right: 65px;
    }

    50% {
      right: 75px;
    }

    100% {
      right: 65px;
    }
}

@keyframes circle_black {
    0% {
      right: 65px;
    }

    50% {
      right: 75px;
    }

    100% {
      right: 65px;
    }
}

  .form-news__phototriangle {
    top: 0px;
    left: 25px;
  }

  .form-news__photocircle {
    top: 100px;
    left: 75px;
  }
}

@media (max-width: 479.98px) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 66px;
    left: 0;
    overflow: auto;
    background: #fff;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    z-index: 101;
    opacity: 0;
    visibility: hidden;
  }

  .menu__body.active {
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    opacity: 1;
    visibility: visible;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__list li {
    margin: 20px 0px 0px 0px;
  }

  .icon-menu {
    display: block;
    position: absolute;
    top: 20px;
    left: 50%;
    -webkit-transform: translate3d(-50%, 0px, 0px);
            transform: translate3d(-50%, 0px, 0px);
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 105;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: 8px;
    left: 3px;
    position: absolute;
    width: 80%;
    height: 2px;
    background-color: rgba(255, 146, 146, 0.8);
  }

  .icon-menu span:first-child {
    top: 0px;
    width: 100%;
    left: 0px;
    background-color: #ff9292;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
    width: 60%;
    left: 6px;
    background-color: rgba(255, 146, 146, 0.6);
  }

  .icon-menu.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu.active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 8px;
    background-color: #ff9292;
  }

  .icon-menu.active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: 8px;
    width: 100%;
    left: 0;
    background-color: #ff9292;
  }

  .news__body {
    margin: 0px 0px 46px 0px;
  }

  .body-news__title {
    margin: 0px 0px 17px 0px;
  }

  .body-news__text {
    text-align: justify;
  }
}