@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;

400;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Lato", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Lato", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000000;
  font-size: 16px;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper.lock {
  overflow: hidden;
}

.container {
  max-width: 902px;
  margin: 0 auto;
  width: 100%;
}

.info {
  padding: 66px 148px 46px 158px;
  border-top: 2px solid #3c3c3c;
  border-left: 2px solid #3c3c3c;
  border-right: 2px solid #3c3c3c;
  border-bottom: 2px solid #3c3c3c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.info_w {
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

.info__title {
  text-align: center;
  color: #3c3c3c;
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5.5px;
  position: absolute;
  background: transparent;
  top: -18px;
}

.info__title_w {
  color: #fff;
}

.info__text {
  max-width: 590px;
  color: #3c3c3c;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
}

.info__text p {
  margin: 0px 0px 27px 0px;
}

.info__text p:last-child {
  margin: 0px 0px 0px 0px;
}

.info__text_w {
  color: #fff;
}

.ibg {
  position: relative;
}

.ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie .ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie .ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.scroll-up {
  position: fixed;
  right: 28px;
  bottom: 28px;
  z-index: 1000;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.scroll-up:hover {
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  -webkit-transform: rotate(540deg);
      -ms-transform: rotate(540deg);
          transform: rotate(540deg);
  opacity: 0.8;
}

.no-webp .mainblock{
  background-image: url("../img/bg.jpg"); }

.mainblock {
  min-height: 100vh;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 280px 0 120px 0px;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mainblock-content {
  position: relative;
  z-index: 1;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.mainblock-content .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainblock-content__info {
  max-width: 620px;
  margin: 0 auto;
}

.mainblock-content__title {
  max-width: 620px;
  color: #ffffff;
  font-size: 54px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 8.62px;
  margin: 0px 0px 5px 0px;
}

.mainblock-content__subtitle {
  max-width: 620px;
  color: #ffffff;
  font-size: 54px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  line-height: 35px;
  letter-spacing: 7px;
  margin: 0px 0px 40px 0px;
}

.mainblock-content__text {
  max-width: 610px;
  color: #ffffff;
  line-height: 29px;
  text-transform: uppercase;
  letter-spacing: 0.9px;
  text-align: center;
}

.mainblock-content__icon {
  opacity: 1;
  position: relative;
  -webkit-animation: mouse 2.5s ease infinite;
          animation: mouse 2.5s ease infinite;
}

@-webkit-keyframes mouse {
  0% {
    opacity: 1;
    top: 0;
  }

  50% {
    opacity: 0.6;
    top: 8px;
  }

  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes mouse {
  0% {
    opacity: 1;
    top: 0;
  }

  50% {
    opacity: 0.6;
    top: 8px;
  }

  100% {
    opacity: 1;
    top: 0;
  }
}

.contentblock-about {
  padding: 160px 0px 159px 0px;
  background: #fff;
}

.no-webp .contentblock-services{
  background-image: url("../img/bg_middle.jpg"); }

.contentblock-services {
  padding: 128px 0px 109px 0px;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contentblock-services__info {
  padding: 77px 148px 56px 158px;
}

.contentblock-whatwedo {
  padding: 119px 0px 114px 0px;
  background: #fff;
  position: relative;
  z-index: 10;
}

.contentblock-whatwedo__info {
  padding: 92px 148px 125px 158px;
}

.contentblock-whatwedo__title {
  width: 420px;
}

.text-whatwedo {
  margin: 0px 0px 109px 0px;
}

.text-whatwedo_l {
  margin: 0px 0px 0px 0px;
}

.text-whatwedo__icon {
  margin: 0px 0px 41px 0px;
}

.text-whatwedo__title {
  color: #3c3c3c;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5.26px;
  margin: 0px 0px 37px 0px;
}

.text-whatwedo__text {
  color: #3c3c3c;
  font-size: 14px;
  font-weight: 300;
  line-height: 25.89px;
}

.contentblock-gallery {
  background: #fff;
}

.contentblock-gallery__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -5px -5px;
}

.contentblock-gallery__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  max-width: 25%;
  padding: 5px 5px;
}

.contentblock-gallery__column_b {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  max-width: 50%;
}

.contentblock-gallery__item {
  position: relative;
  min-height: 237px;
}

.contentblock-gallery__title {
  position: absolute;
  bottom: 42px;
  left: 47px;
  z-index: 2;
}

.contentblock-gallery__title a {
  color: #ffffff;
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 8.95px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
}

.contentblock-gallery__title a:after {
  content: '';
  position: absolute;
  width: 0;
  background: #fff;
  height: 1.5px;
  left: 50%;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.contentblock-gallery__title a:hover {
  opacity: 0.8;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.contentblock-gallery__title a:hover:after {
  width: 100%;
  visibility: visible;
  opacity: 1;
  left: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.contentblock-gallery__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;
}

.contentblock-gallery__image img {
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.contentblock-gallery__image img:hover {
  opacity: 0.8;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.contentblock-contact {
  background: #fff;
  padding: 134px 0px 0px 0px;
}

.contentblock-contact__text {
  margin: 0px 0px 42px 0px;
}

.contentblock-contact__button span {
  position: relative;
  z-index: 1;
}

.contentblock-contact__button a {
  padding: 23px 0px 24px 0px;
  width: 395px;
  text-align: center;
  display: inline-block;
  color: #ffffff;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2.54px;
  background-color: #3c3c3c;
  border: 2px solid #3c3c3c;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  position: relative;
}

.contentblock-contact__button a:after {
  content: '';
  position: absolute;
  width: 0;
  height: 100%;
  overflow: hidden;
  left: 50%;
  top: 0;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.contentblock-contact__button a:hover {
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  color: #3c3c3c;
}

.contentblock-contact__button a:hover:after {
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  left: 0;
  width: 100%;
  opacity: 1;
  visibility: visible;
}

.footer {
  padding: 63px 0px;
  background: #fff;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__icon {
  margin: 0px 36px 0px 0px;
}

.footer__text {
  color: #3c3c3c;
  font-size: 14px;
  font-weight: 400;
}

.footer__text a {
  color: #3c3c3c;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.footer__text a:hover {
  text-decoration: underline;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

@media (max-width: 1900px) {
  .mainblock {
    padding: 50px 0;
  }

  .contentblock-gallery__title a {
    font-size: calc(28px + 6 * ((100vw - 320px) / 582));
  }

  .contentblock-gallery__title {
    bottom: 12px;
    left: 17px;
  }
}

@media (max-width: 1270px) {
  .contentblock-gallery__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    max-width: 50%;
  }
}

@media (max-width: 1004px) {
  .container {
    max-width: 970px;
  }

  .info {
    padding: 66px 68px 46px 78px;
  }

  .contentblock-services__info {
    padding: 66px 68px 46px 78px;
  }

  .contentblock-whatwedo__info {
    padding: 86px 68px 66px 78px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }

  .info__title {
    font-size: calc(28px + 6 * ((100vw - 320px) / 582));
  }

  .info__text {
    font-size: calc(14px + 2 * ((100vw - 320px) / 582));
  }

  .mainblock-content__title {
    font-size: calc(28px + 26 * ((100vw - 320px) / 582));
  }

  .mainblock-content__subtitle {
    font-size: calc(28px + 26 * ((100vw - 320px) / 582));
  }

  .mainblock-content__text {
    font-size: calc(14px + 1 * ((100vw - 320px) / 582));
  }

  .contentblock-about {
    padding: 100px 0px 89px 0px;
  }

  .contentblock-services {
    padding: 100px 0px 89px 0px;
  }

  .contentblock-whatwedo {
    padding: 100px 0px 89px 0px;
  }

  .text-whatwedo__title {
    font-size: calc(18px + 2 * ((100vw - 320px) / 582));
  }

  .contentblock-contact {
    padding: 100px 0px 0px 0px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }

  .info {
    padding: 56px 28px 36px 38px;
  }

  .mainblock {
    background-attachment: absolute;
  }

  .contentblock-about {
    padding: 80px 0px 69px 0px;
  }

  .contentblock-services {
    padding: 80px 0px 69px 0px;
    background-attachment: scroll;
  }

  .contentblock-services__info {
    padding: 56px 28px 36px 38px;
  }

  .contentblock-whatwedo {
    padding: 80px 0px 69px 0px;
  }

  .contentblock-whatwedo__info {
    padding: 76px 28px 56px 38px;
  }

  .contentblock-whatwedo__title {
    width: 320px;
  }

  .text-whatwedo {
    margin: 0px 0px 46px 0px;
  }

  .text-whatwedo_l {
    margin: 0px 0px 0px 0px;
  }

  .text-whatwedo__icon {
    margin: 0px 0px 31px 0px;
  }

  .text-whatwedo__title {
    margin: 0px 0px 27px 0px;
  }

  .contentblock-gallery__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    max-width: 100%;
  }

  .contentblock-gallery__column_b {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    max-width: 100%;
  }

  .contentblock-contact {
    padding: 80px 0px 0px 0px;
  }

  .contentblock-contact__text {
    margin: 0px 0px 32px 0px;
  }

  .footer {
    padding: 53px px;
  }
}

@media screen and (max-width: 767.98px), screen and (max-height: 600px) {
  .mainblock {
    padding: 20px 0;
  }
}

@media (max-width: 479.98px) {
  .info {
    padding: 46px 18px 26px 28px;
  }

  .contentblock-about {
    padding: 60px 0px 49px 0px;
  }

  .contentblock-services {
    padding: 60px 0px 49px 0px;
  }

  .contentblock-services__info {
    padding: 46px 18px 26px 28px;
  }

  .contentblock-whatwedo {
    padding: 60px 0px 49px 0px;
  }

  .contentblock-whatwedo__info {
    padding: 66px 18px 46px 28px;
  }

  .contentblock-whatwedo__title {
    width: 260px;
    top: -15px;
  }

  .text-whatwedo {
    margin: 0px 0px 36px 0px;
  }

  .text-whatwedo_l {
    margin: 0px 0px 0px 0px;
  }

  .text-whatwedo__icon {
    margin: 0px 0px 21px 0px;
  }

  .text-whatwedo__title {
    margin: 0px 0px 17px 0px;
  }

  .contentblock-contact {
    padding: 60px 0px 0px 0px;
  }

  .contentblock-contact__text {
    margin: 0px 0px 22px 0px;
  }

  .contentblock-contact__button a {
    width: 280px;
  }

  .footer {
    padding: 43px 0px;
  }

  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__icon {
    margin: 0px 0px 26px 0px;
  }
}

@media (max-width: 320px) {
  .info {
    padding: 36px 8px 16px 18px;
  }

  .contentblock-about {
    padding: 40px 0px 29px 0px;
  }

  .contentblock-services {
    padding: 40px 0px 29px 0px;
  }

  .contentblock-services__info {
    padding: 36px 8px 16px 18px;
  }

  .contentblock-whatwedo {
    padding: 40px 0px 29px 0px;
  }

  .contentblock-contact {
    padding: 40px 0px 0px 0px;
  }

  .contentblock-contact__info {
    padding: 36px 8px 16px 8px;
  }

  .footer {
    padding: 33px 0px;
  }
}

.webp .mainblock{ background-image: url(../img/bg.webp); }

.webp .contentblock-services{ background-image: url(../img/bg_middle.webp); }